DISCORD_TOKEN=
DISCORD_GUILD_ID=
DATABASE_URL=

REQUEST_CATEGORY_ID=
LOGS_CHANNEL_ID=
GOVERNMENT_DASHBOARD_CHANNEL_ID=
GOVERNMENT_DASHBOARD_MESSAGE_ID=
DIPLOMAT_DASHBOARD_CHANNEL_ID=
DIPLOMAT_DASHBOARD_MESSAGE_ID=

WARERA_API_BASE_URL=https://api.warera.io
WARERA_API_TOKEN=
