DISCORD_TOKEN=
DISCORD_GUILD_ID=
DATABASE_URL=

REQUEST_CATEGORY_ID=
REQUEST_CHANNEL_ID=
LOGS_CHANNEL_ID=

GOVERNMENT_DASHBOARD_CHANNEL_ID=
GOVERNMENT_DASHBOARD_MESSAGE_ID=
DIPLOMAT_DASHBOARD_CHANNEL_ID=
DIPLOMAT_DASHBOARD_MESSAGE_ID=
VERIFICATION_DASHBOARD_CHANNEL_ID=
VERIFICATION_DASHBOARD_MESSAGE_ID=

INDIAN_CITIZEN_ROLE_ID=
FOREIGN_DIPLOMAT_ROLE_ID=
AMBASSADOR_ROLE_ID=
EAM_ROLE_NAME=EAM
GOVERNMENT_NOTIFY_ROLE_NAMES=President,Vice President,National Security Advisor,Minister,EAM

WARERA_API_BASE_URL=https://api2.warera.io
WARERA_API_PROFILE_PATH=/trpc/user.getUserLite
WARERA_API_FULL_PROFILE_PATH=/trpc/user.getUserById
WARERA_API_COMPANIES_PATH=/trpc/company.getCompanies
WARERA_API_COMPANY_PATH=/trpc/company.getById
WARERA_API_COUNTRY_PATH=/trpc/country.getCountryById
WARERA_API_TOKEN=

HEALTH_HOST=0.0.0.0
HEALTH_PORT=10000
